<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->

        <!-- Brand -->
        <table>
            <tr>
                <td><img src="assets/img/brand/logoUniBookBar.png" height="75px" width="75px"></td>
                <td>
                    <p>UniBookBar</p>
                </td>
            </tr>
        </table>


        <!-- User -->
        <ul class="nav align-items-center d-md-none">
            <li class="nav-item" ngbDropdown placement="bottom-right">
                <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                </div>
            </li>
            <li class="nav-item" ngbDropdown placement="bottom-right">
                <a class="nav-link" role="button" ngbDropdownToggle>
                    <div class="media align-items-center">
                    </div>
                </a>
                <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome!</h6>
                    </div>
                    <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span>My profile</span>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
                        <i class="ni ni-settings-gear-65"></i>
                        <span>Settings</span>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
                        <i class="ni ni-calendar-grid-58"></i>
                        <span>Activity</span>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
                        <i class="ni ni-support-16"></i>
                        <span>Support</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#!" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a routerLinkActive="active" [routerLink]="['/dashboard']">
                            <img src="./assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
                    </div>
                </div>
            </div>
            <!-- Form -->
            <form class="mt-4 mb-3 d-md-none">
                <div class="input-group input-group-rounded input-group-merge">
                    <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fa fa-search"></span>
                        </div>
                    </div>
                </div>
            </form>
            <ul style="list-style: none;">
                <li><a (click)="redirectToHome()"><i class="ni ni-book-bookmark text-orange"></i>&nbsp;&nbsp;Home</a></li>
                <li *ngIf="adminGuard.canActivate()"><a (click)="redirectToUser()"><i class="ni ni-circle-08 text-yellow"></i>&nbsp;&nbsp;Gestione Utente</a></li>
                <li *ngIf="adminGuard.canActivate()"><a (click)="redirectToStaff()"><i class="ni ni-badge text-green"></i>&nbsp;&nbsp;Gestione Staff</a></li>

                <li *ngIf="adminGuard.canActivate()"><i class="ni ni-shop text-purple"></i>&nbsp;&nbsp;Gestione Locale</li>
                <ul class="sottolista" style="list-style: none;">
                    <li *ngIf="adminGuard.canActivate()">
                        <a (click)="redirectToDish()"><img class="hamburger" src="./assets/img/brand/icons8-hamburger-100.png">&nbsp;&nbsp;Crea Piatto</a>
                    </li>
                    <li *ngIf="adminGuard.canActivate()"><a (click)="redirectToArchiveDish()"><i class="ni ni-archive-2 text-blue"></i>&nbsp;&nbsp;Piatti</a></li>
                    <li *ngIf="adminGuard.canActivate()"><a (click)="redirectToReview()"><i class="ni ni-collection text-orange"></i>&nbsp;&nbsp;Recensioni</a></li>
                </ul>
                <li *ngIf="adminGuard.canActivate()"><img class="hamburger" src="./assets/img/brand/camion.png">&nbsp;&nbsp;Gestione Prodotti</li>
                <ul class="sottolista" style="list-style: none;">
                    <li *ngIf="adminGuard.canActivate()">
                        <a (click)="redirectToIngredients()"><img class="hamburger" src="./assets/img/brand/carrot.png">&nbsp;&nbsp;Ingredienti</a>
                    </li>
                    <li *ngIf="adminGuard.canActivate()">
                        <a (click)="redirectToAllergens()"><img class="hamburger" src="./assets/img/brand/toxic.png">&nbsp;&nbsp;Allergeni</a>
                    </li>
                </ul>

                <li *ngIf="adminGuard.canActivate()==false">
                    <a (click)="redirectToDish()"><img class="hamburger" src="./assets/img/brand/icons8-hamburger-100.png">&nbsp;&nbsp;Crea Piatto</a>
                </li>
                <li *ngIf="adminGuard.canActivate()==false"><a (click)="redirectToMenu()"><i class="ni ni-calendar-grid-58 text-purple"></i>&nbsp;&nbsp;Crea Menù</a></li>
                <li *ngIf="adminGuard.canActivate()"><a (click)="redirectToMenu()"><i class="ni ni-calendar-grid-58 text-purple"></i>&nbsp;&nbsp;Crea Menù</a></li>
                <li *ngIf="adminGuard.canActivate()==false"><a (click)="redirectToArchiveDish()==false"><i class="ni ni-archive-2 text-orange"></i>&nbsp;&nbsp;Archivio Piatti</a></li>
                <li *ngIf="adminGuard.canActivate()==false"><a (click)="redirectToMapTable()"><i class="ni ni-pin-3 text-blue"></i>&nbsp;&nbsp;Mappa Tavoli</a></li>
                <li *ngIf="adminGuard.canActivate()==false"><a (click)="redirectToAccount()"><i class="ni ni-single-02 text-yellow"></i>&nbsp;&nbsp;Account</a></li>
                <li *ngIf="adminGuard.canActivate()==false"><a (click)="authService.logout()"><i class=" ni ni-button-power text-red "></i>&nbsp;&nbsp;Logout</a></li>

                <li *ngIf="adminGuard.canActivate()"><a (click)="authService.logout()"><i class=" ni ni-button-power text-red "></i>&nbsp;&nbsp;Logout</a></li>
            </ul>
        </div>
    </div>
</nav>