li{
  font-size: 13pt;
  height: 60px;
  margin-left: -20%;
  color: rgb(105, 105, 105);
}

li:hover{
  color: rgb(138, 138, 138);
  cursor: pointer;
}

a:hover{
  font-size: 14pt;
}

p{
  font-weight: bold;
  font-size: 18pt;
  color: rgb(94, 114, 228);
}

table{
  margin-left: -10%;
}


img.hamburger{
  width: 23px;
}

ul.sottolista{
  padding-left: 20px;
}
