<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col ">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Account</h3>
                        </div>
                        <div class="col-4 text-right">
                            <button (click)="editStaff()" type="button" class="btn btn-sm btn-primary">Modifica Account</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <form [formGroup]="accountForm">
                                        <label class="form-control-label">&#9998;&nbsp;Username</label>
                                        <input type="text" formControlName="username" class="form-control form-control-alternative" placeholder={{accountService.loggedstaff.Username}}>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">&nbsp;Nome</label>
                                    <div class="form-control form-control-alternative">{{accountService.loggedstaff.Name}}</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">&nbsp;Cognome</label>
                                    <div class="form-control form-control-alternative">{{accountService.loggedstaff.Surname}}</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>