<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-1">
                    <h3 class="mb-0">Lista Recensioni</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center">
                                        <a class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4" *ngFor="let review of archiveReviewService.review; index as i;">

                                            <div class="d-flex w-100 justify-content-between">

                                                <div class="d-flex w-100 align-items-center">

                                                    <div class="container">
                                                        <div class="row">
                                                            <div>
                                                                <img src="../../assets/img/theme/team-4-800x800.jpg" alt="Image placeholder" class="avatar avatar-xs mr-2" />
                                                                <h5 class="mb-1">{{review['client']['Username']}}</h5>
                                                            </div>
                                                            <div class="col-sm">
                                                                <div class="text-left">
                                                                    <fieldset class="rating">
                                                                        <input type="radio" value="5" *ngIf="review['review']['Star']==5" checked/>
                                                                        <label title="Rocks!">5 stars</label>

                                                                        <input type="radio" value="4" *ngIf="review['review']['Star']==4" checked/>
                                                                        <label title="Pretty good">4 stars</label>

                                                                        <input type="radio" value="3" *ngIf="review['review']['Star']==3" checked/>
                                                                        <label title="Meh">3 stars</label>

                                                                        <input type="radio" value="2" *ngIf="review['review']['Star']==2" checked/>
                                                                        <label title="Kinda bad">2 stars</label>

                                                                        <input type="radio" value="1" *ngIf="review['review']['Star']==1" checked/>
                                                                        <label title="Sucks big time">1 star</label>
                                                                    </fieldset>
                                                                </div>
                                                                <br><br>

                                                                <h2 class="mb-1">{{review['review']['Title']}}</h2>
                                                                <p class="text-sm mb-0">{{review['review']['Text']}}</p>

                                                            </div>
                                                            <div class="text-right">
                                                                <a (click)="redirectToDelete(review['UuidRev'])"><img class="TrashBin" src="/assets/img/brand/TrashBin.png"></a>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>