img.Logo{
  height: 200px;
}

button.ButtomSingin{
  background-color: rgb(255, 163, 64);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}
button.ButtomSingin:hover{
  background-color: rgb(255, 192, 112);
}

.container input:checked ~ .checkmark {
  background-color: rgb(255, 192, 112);
}

