<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
    <div class="row">

        <div class="col">
            <div class="col">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <table>
                                    <tr>
                                        <td><a (click)="redirectToIngredients()"><i class="ni ni-bold-left text-blue"></i></a></td>
                                        <td>
                                            <h3 class="mb-0">Modifica ingrediente</h3>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-4 text-right">
                                <button (click)="redirectToEditIngredient()" class="btn btn-sm btn-primary">Modifica Ingrediente</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="pl-lg-4">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </div>
                                <form [formGroup]="ingredientForm">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-first-name">&#9998;&nbsp;Nome</label>
                                                <input type="text" formControlName="name" id="input-first-name" class="form-control form-control-alternative" placeholder="Inserisci il nome...">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>