<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="table-responsive">

                <div class="container">
                    <div class="row">
                        <div class="col-sm">

                            <form>
                                <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ...">
                      <option>Primo</option>
                      <option>Secondo</option>
                      <option>Altro</option>
                    </select>
                            </form>
                            <div class="pt-50"></div>
                            <table class="table align-items-center table-flush">
                                <thead class="thead">
                                    <tr>

                                        <th scope="col">Piatto</th>
                                        <th>
                                            <div class="text-right">

                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p draggable="true" ondragstart="drag(event)" id="drag1">Piatto da trascinare</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-sm">
                            <div class="card card-frame">
                                <div class="card-body">
                                    <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins"></full-calendar>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>