<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
    <div class="row">

        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <table>
                                <tr>
                                    <td><a (click)="redirectTomapTable()"><i class="ni ni-bold-left text-blue"></i></a></td>
                                    <td>
                                        <h3 class="mb-0">Modifica Tavolo</h3>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-sm">
                                    <div class="text-right">
                                        <button (click)="editTable()" class="btn btn-sm btn-primary">Modifica Tavolo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="editTableForm">
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">

                                            <label class="form-control-label">ID Tavolo2</label>
                                            <!-- [(ngModel)]="editTableService.selectedTable.UuidTable" -->
                                            <div class="form-control form-control-alternative">{{editTableService.selectedTable.UuidTable}}</div>

                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">&#9998;&nbsp;Numero Tavolo</label>
                                            <!-- [(ngModel)]="editTableService.selectedTable.NumberTable" -->
                                            <input type="text" formControlName="numberTable" id="input-last-name" class="form-control form-control-alternative" [(ngModel)]="editTableService">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">

                                            <label class="form-control-label"><i class="ni ni-bold-down"></i>&#9998;Sedie</label>
                                            <!-- [(ngModel)]="editTableService.selectedTable.Chairs" -->
                                            <input formControlName="chairs" type="text" class="form-control form-control-alternative" [(ngModel)]="editTableService.selectedTable['Chairs']">

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">

                                            <label class="form-control-label" for="input-last-name"><i class="ni ni-bold-down"></i>&nbsp;Stato</label>
                                            <!-- [(ngModel)]="editTableService.selectedTable.Occupied" -->

                                            <select formControlName="occupied" type="text" class="form-control" [(ngModel)]="editTableService.selectedTable.Occupied" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ... ">
                                             <option [ngValue]=true>Occupato</option>
                                             <option [ngValue]=false>Libero</option>
                                         </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>