<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <span><h3 class="mb-0">Archivio Piatti</h3></span>
                            </div>
                            <div class="col-sm">
                            </div>
                            <div class="col-2">
                                <div class="row">
                                    <div>
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                                </div>
                                                <input class="form-control" placeholder="Cerca" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Prezzo</th>
                                    <th scope="col">Caldo/Freddo</th>
                                    <th scope="col">Immagine</th>
                                    <th scope="col">Quantità</th>
                                    <th scope="col">Modifica</th>
                                    <th scope="col">Elimina</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let dish of archiveService.dishes; index as i;">
                                    <tr>
                                        <td #uuidDish>{{dish['UuidDish']}}</td>
                                        <td>{{dish['Name']}}</td>
                                        <td>{{dish['Price']}}</td>
                                        <td>{{dish['BkbleConble']}}</td>
                                        <td><i class="ni ni-image text-blue"></i></td>
                                        <td>{{dish['Unit']}}</td>
                                        <td><a (click)="redirectToEditDish(uuidDish.textContent)">&#9998;</a></td>
                                        <td>
                                            <a (click)="deleteDish(uuidDish.textContent)"><img src="/assets/img/brand/TrashBin.png"></a>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>