<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="form-group">
                <label for="example-date-input" class="form-control-label">Date</label>
                <input class="form-control" type="date" value="2020-06-26" id="example-date-input">
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Mappa Tavoli</h3>
                        </div>

                        <div class="col-4 text-right">
                            <button (click)="redirectToCreateTable()" class="btn btn-sm btn-primary">Aggiungi Tavolo</button>

                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID Tavolo</th>
                                <th scope="col">ID Cliente</th>
                                <th scope="col">N Sedie(Fisso)</th>
                                <th scope="col">Stato</th>

                            </tr>
                        </thead>
                        <tbody>

                            <ng-container *ngFor="let table of mapService.tables['occupy']; index as i;">
                                <tr>
                                    <td #uuidTable>{{table['table']['UuidTable']}}</td>
                                    <td>{{table['UuidClient']}}</td>
                                    <td><label type="text" name="Chairs" ngDefaultControl class="form-control" [(ngModel)]="table['table']['Chairs']">{{table['table']['Chairs']}}</label></td>
                                    <td>
                                        <label name="Occupied" ngDefaultControl class="form-control" [(ngModel)]="table['table']['Occupied']">Occupato</label></td>
                                </tr>
                            </ng-container>
                            <ng-container name="Table" ngDefaultControl *ngFor="let table of mapService.tables['table']; index as i;">
                                <tr>
                                    <td #uuidTable>{{table['UuidTable']}}</td>
                                    <td> - </td>
                                    <td><label name="Chairs" ngDefaultControl type="text" class="form-control" [(ngModel)]="table['Chairs']">{{table['Chairs']}}</label></td>
                                    <td><label name="Occupied" ngDefaultControl class="form-control" [(ngModel)]="table['Occupied']">Libero</label></td>
                            </ng-container>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
