<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Gestione Utenti</h3>
                    <div class=" text-right">

                        <a (click)="redirectToCreateUser()" class="btn btn-secondary"><img src="assets/img/brand/AddUser.png"></a>

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Cognome</th>
                                <th scope="col">Password</th>
                                <th scope="col">Username</th>
                                <th scope="col">Ruolo</th>
                                <th scope="col">Immagine</th>
                                <th scope="col">Modifica</th>
                                <th scope="col">Elimina</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let client of userManagementService.clients; index as i;">
                                <tr>
                                    <td #uuidClient>{{client['UuidClient']}}</td>
                                    <td>{{client['client']['Name']}}</td>
                                    <td>{{client['client']['Surname']}}</td>
                                    <td>*********</td>
                                    <td>{{client['client']['Username']}}</td>
                                    <td>{{client['role']['NameRole']}}</td>
                                    <td><i class="ni ni-image text-blue"></i></td>
                                    <td><a (click)="redirectToEditUser(uuidClient.textContent)">&#9998;</a></td>
                                    <td>
                                        <a (click)="redirectToDeleteUser(uuidClient.textContent)"><img src="/assets/img/brand/TrashBin.png"></a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>