<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <!--           chiedere ai manager -->
                                <img [src]="'assets/img/dishes/download.jpg'" (ngOnLoad)="exampleCallback($event)">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-5">

                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="h5 font-weight-300">
                        </div>
                        <div class="h5 mt-4">
                            <form>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                                    <label class="custom-file-label" for="customFileLang">Seleziona file</label>
                                </div>
                            </form>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Crea Piatto</h3>
                        </div>
                        <div class="col-4 text-right">
                            <button (click)="createDish()" class="btn btn-sm btn-primary">Crea il piatto</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="dishForm">
                        <div class="pl-lg-4">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">&#9998;&nbsp;Nome</label>
                                        <input type="text" formControlName="name" id="input-first-name" class="form-control form-control-alternative" placeholder="Inserisci il nome del piatto...">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">&euro;&nbsp;Prezzo</label>
                                        <input type="text" formControlName="price" id="input-last-name" class="form-control form-control-alternative" placeholder="Inserisci il prezzo del piatto...">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name"><i class="ni ni-bold-down"></i>&nbsp;Categoria</label>
                                        <form [formGroup]="dishForm">
                                            <ng-select formControlName="category" [items]="dishService.categories" bindLabel="UuidCategory" bindLabel="CategoryName" placeholder="Seleziona categoria">
                                            </ng-select>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name"><i class="ni ni-bold-down"></i>&nbsp;Caldo/Freddo</label>
                                        <form [formGroup]="dishForm">
                                            <select formControlName="bkble" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ... ">
                                                <option [ngValue]="1">Caldo</option>
                                                <option [ngValue]="0">Freddo</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">&#9998;&nbsp;Ingredienti</label>
                                        <form [formGroup]="dishForm">
                                            <!--  <textarea resize="none " class="form-control " id="exampleFormControlTextarea1 " rows="3 " placeholder="Inserisci gli ingredienti... "></textarea> -->
                                            <ng-select formControlName="Ing" [items]="dishService.ingredients" bindLabel="Name" [multiple]="true">

                                            </ng-select>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">&#9998;&nbsp;Allergeni</label>
                                        <form [formGroup]="dishForm ">
                                            <!-- <textarea resize="none " class="form-control " id="exampleFormControlTextarea1 " rows="3 " placeholder="Inserisci gli allergeni... "></textarea> -->
                                            <ng-select formControlName="aller" [items]="dishService.allergens" bindLabel="Name" [multiple]="true">

                                            </ng-select>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>