<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Gestione Admin</h3>
                    <div class=" text-right">
                        <a (click)="redirectToCreateAdmin()" class="btn btn-secondary"><img src="assets/img/brand/AddUser.png"></a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Cognome</th>
                                <th scope="col">Password</th>
                                <th scope="col">Username</th>
                                <th scope="col">Modifica</th>
                                <th scope="col">Elimina</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>Mario</td>
                                <td>Rossi</td>
                                <td>12345</td>
                                <td>mario.rossi</td>
                                <td><a (click)="redirectToEditAdmin()">&#9998;</a></td>
                                <td><img src="/assets/img/brand/TrashBin.png"></td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>Mario</td>
                                <td>Rossi</td>
                                <td>98765</td>
                                <td>mario.rossi</td>
                                <td>&#9998;</td>
                                <td><img src="/assets/img/brand/TrashBin.png"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>