<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
    <div class="row">

        <div class="col">
            <div class="col">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <table>
                                    <tr>
                                        <td><a (click)="redirectToStaffManagement()"><i class="ni ni-bold-left text-blue"></i></a></td>
                                        <td>
                                            <h3 class="mb-0">Modifica staff</h3>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-4 text-right">
                                <button (click)="editStaff()" class="btn btn-sm btn-primary">Esegui Modifica</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="pl-lg-4">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <form [formGroup]="staffForm">
                                                <label class="form-control-label" for="input-first-name">&#9998;&nbsp;Nome</label>
                                                <input type="text" formControlName="name" id="input-first-name" [(ngModel)]="editStaffServices.staff['Name']" class="form-control form-control-alternative" placeholder="Inserisci il nome...">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <form [formGroup]="staffForm">
                                                <label class="form-control-label" for="input-last-name">&#9998;&nbsp;Cognome</label>
                                                <input type="text" formControlName="surname" id="input-last-name" [(ngModel)]="editStaffServices.staff['Surname']" class="form-control form-control-alternative" placeholder="Inserisci il cognome...">
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <form [formGroup]="staffForm">
                                                <label class="form-control-label" for="input-last-name">&#9998;&nbsp;Username</label>
                                                <input type="text" formControlName="username" id="input-last-name" [(ngModel)]="editStaffServices.staff['Username']" class="form-control form-control-alternative" placeholder="Inserisci username...">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <form [formGroup]="staffForm">
                                                <label class="form-control-label" for="input-last-name"><i class="ni ni-lock-circle-open"></i>&nbsp;Password</label>
                                                <input type="password" formControlName="password" id="input-last-name" [(ngModel)]="editStaffServices.staff['Password']" class="form-control form-control-alternative" placeholder="Inserisci password...">
                                            </form>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <form [formGroup]="staffForm">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <h3><i class="fa fa-user-secret"></i>&nbsp;Seleziona Incarico &nbsp;</h3>
                                                        </td>
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <!-- <label class="custom-toggle"> -->
                                                                        <select formControlName="canAdmin" class="form-control-sm" data-toggle="select" [(ngModel)]="editStaffServices.staff['CanAdmin']" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ... ">
                                                                <option [ngValue]="1">Admin</option>
                                                                <option [ngValue]="0">Staff</option>
                                                            </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--  <input formControlName="canAdmin" type="checkbox" *ngIf="editStaffServices.staff['CanAdmin']==1" checked> 
                                                            <span class="custom-toggle-slider rounded-circle"></span> -->
                                                            <!-- </label> -->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!--  <select formControlName="bkble" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Search ... ">
                                             <option [ngValue]="1">Caldo</option>
                                             <option [ngValue]="0">Freddo</option>
                                         </select> -->

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>