<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Gestione locale</h3>
                </div>
            </div>
            <div class="pt-50"></div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">

                    </div>
                    <div class="col-sm">

                        <div class="text-center">
                            <table>
                                <tr><button class="btn btn-primary" type="button" (click)="redirectToDish()">Crea Piatto</button>
                                    <div class="pt-50"></div>
                                </tr>
                                <tr><button class="btn btn-primary" type="button" (click)="redirectToArchiveDish()">Archivio Piatti</button>
                                    <div class="pt-50"></div>
                                </tr>
                                <tr><button class="btn btn-primary" type="button" (click)="redirectToReview()">Archivio Recensioni</button>
                                    <div class="pt-50"></div>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="col-sm">

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>