<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Unimol Bar</h3>
                </div>
            </div>
            <br><br><br>

            <div class="text-center">
                <img src="assets/img/brand/UnimolSede.jpg" class="img-fluid rounded shadow" width="42%">
            </div>

            <div class="pt-50"></div>
            <div class="text-center">
                <button class="btn btn-primary" type="button" (click)="redirectToDish()">Crea Piatto</button>
                <button class="btn btn-primary" type="button" (click)="redirectToMenu()">Crea Menù</button>
            </div>
        </div>
    </div>
</div>