<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="javascript:void(0)">
                                <img src="assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-5">

                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="h5 font-weight-300">
                        </div>
                        <div class="h5 mt-4">
                            <form>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                                    <label class="custom-file-label" for="customFileLang">Seleziona File</label>
                                </div>
                            </form>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <table>
                                <tr>
                                    <td><a (click)="redirectToUserManagement()"><i class="ni ni-bold-left text-blue"></i></a></td>
                                    <td>
                                        <h3 class="mb-0">Modifica Utente</h3>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-4 text-right">
                            <button (click)="editUser()" class="btn btn-sm btn-primary">Esegui Modifica</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="pl-lg-4">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name"><i class="ni ni-bold-down"></i>&nbsp;Ruolo2</label>
                                        <form [formGroup]="userForm">
                                            <ng-select formControlName="role" [items]="createUserServices.role['role']" bindLabel="NameRole" [(ngModel)]="editUserServices.user['role']">

                                            </ng-select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <form [formGroup]="userForm">
                                            <label class="form-control-label" for="input-first-name">&#9998;&nbsp;Nome</label>
                                            <input type="text" formControlName="name" id="input-first-name" [(ngModel)]="editUserServices.user['client']['Name']" class="form-control form-control-alternative" placeholder="Inserisci il nome...">
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <form [formGroup]="userForm">
                                            <label class="form-control-label" for="input-last-name">&#9998;&nbsp;Cognome</label>
                                            <input type="text" formControlName="surname" id="input-last-name" [(ngModel)]="editUserServices.user['client']['Surname']" class="form-control form-control-alternative" placeholder="Inserisci il cognome...">
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <form [formGroup]="userForm">
                                            <label class="form-control-label" for="input-last-name">&#9998;&nbsp;Username</label>
                                            <input type="text" formControlName="username" id="input-last-name" [(ngModel)]="editUserServices.user['client']['Username']" class="form-control form-control-alternative" placeholder="Inserisci username...">
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <form [formGroup]="userForm">
                                            <label class="form-control-label" for="input-last-name"><i class="ni ni-lock-circle-open"></i>&nbsp;Password</label>
                                            <input type="password" formControlName="password" id="input-last-name" [(ngModel)]="editUserServices.user['client']['Password']" class="form-control form-control-alternative" placeholder="Inserisci password...">
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>