img {
    width: 18px;
}

a {
    cursor: pointer;
}

div.button {
    padding-bottom: 22px;
}

i.ni-bold-left {
    font-size: x-large;
}

th.center {
    text-align: center;
}

td.center {
    text-align: center;
}